.slick-slider {
    background: white;
}



  .package-card {
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);  */
    /* other styles */
  }

  .sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sliderContainer > .slick-slider {
    flex: 1; /* Adjust this as needed */
    width: 100%; /* Or a specific width */
  }

  
  .package-card:hover {
    /* transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
     */
     z-index: 120;
  }
  
  /* @media screen and (max-width: 100) {
    #saveMoreArrow {
      transform: rotate(90deg);
      margin-left:35%;
    }

    #cardTemplateHolder {
      margin-left: calc((100vw - 740px) / 2);
    }
  } */

  @media screen and (max-width: 750px) {

    #saveMoreArrow {
      transform: rotate(90deg);
      margin-left:35%;
    }

    #cardTemplateHolder {
      margin-left: calc((100vw - 350px) / 2);
    }
  }