.slick-slider {
    background: white;
}



  .package-card {
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);  */
    /* other styles */
  }

  
  .package-card:hover {
    /* transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    
     */
     z-index: 120;
  }
  
  